.movie-card{
    width: 200px;
    background-color: #DCDCDC;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.movie-category{
    margin: 10px 0;
    padding: 10px;
    background-color: burlywood;
    border-radius: 5px;
}

hr {
    margin: 20px 0;
}

.movie-votes{
    width: 100%;
    display: table;
}


.movie-likes{
    text-align: right;
}


.movie-dislikes{
    text-align: left;
}

.movie-dislikes, .movie-likes{
    display: table-cell;    
    font-size: 12px;
}